<ion-content>

  <div class="topImage">
    <img src="../../../assets/tweetstorm.svg" alt="">
  </div>

  <div class="form">
    <div id="title">
      <h1>Login</h1>
      <ion-label>Please Login to Continue</ion-label>
    </div>
    
    <div id="fields">
      <ion-item>
        <ion-icon id='icon' slot="start" color="light" name="mail"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type=email></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon id='icon' slot="start" color="light" name="key"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type=password></ion-input>
        <ion-icon id='eye' slot="end" color='secondry' name="eye-off"></ion-icon>
        <!-- <ion-icon id='eye' slot="end" name="eye"></ion-icon> -->
      </ion-item>

      <ion-button color='primary' routerLink='/tabs' routerDirection='forward'><ion-spinner *ngIf="false" ></ion-spinner><span>Login</span></ion-button>
      <ion-text routerLink='/forget' routerDirection='forward'>Forget Password?</ion-text>
    </div>
  </div>


  <ion-label id="label">Don't have an account? <span routerLink='/sign-up' routerDirection='forward'>Sign up</span></ion-label>

</ion-content>
