ion-header {
    ion-toolbar {
        ion-button {
            padding: 0px !important;
            width: auto !important;
        }
        ion-thumbnail{
            margin-left: 35%;
            img{
                border-radius: 15px;
            }
        }
    }
}

ion-content {
    // --background: var(--ion-color-light);

    ion-segment {
        z-index: 10;
        background: var(--ion-color-medium);
        position: sticky;
        top: 0%;
    }

    ion-segment-button {
        text-transform: none;
    }

    .tweet-info {
        font-size: 0.9em;
    }

    .name {
        font-weight: 600;
    }

    .handle {
        padding-left: 4px;
        color: var(--ion-color-tertiary);
    }

    .wrapper {
        border-bottom: 1px solid var(--ion-color-light);
    }

    .highlight {
        color: var(--ion-color-primary);
    }

    .preview-img {
        border: 3px solid var(--ion-color-dark);
        border-radius: 10px;
        height: unset;
        width: 100% !important;
        margin-top: 10px !important;
    }

    ion-avatar {
        height: 50px !important;
        width: 50px !important;
    }

    .hyperlink {
        height: -webkit-fill-available;
        width: 102%;
        margin-left: -1%;
        margin-top: -1%;
        iframe {
            height: -webkit-fill-available;
            width: -webkit-fill-available;
        }
    }

    .loader {
        position: absolute;
        width: 100%;
        height: unset;
        top: 30%;
    }
}
