ion-header {
    ion-toolbar {
        ion-button{
            padding: 0px !important;
            width: auto !important;
        }
        ion-title {
            color: var(--ion-color-danger);
            font-size: xx-large;
            font-weight: 600;
            letter-spacing: 7px;
            filter: blur(1px);
        }
    }
}

ion-content {
    // --background: var(--ion-color-light);

    ion-segment {
        z-index: 10;
        background: var(--ion-color-medium);
    }
    
    ion-segment-button {
        text-transform: none;
    }

    .tweet-info {
        font-size: 0.9em;
    }

    .name {
        font-weight: 600;
    }

    .handle {
        padding-left: 4px;
        color: var(--ion-color-tertiary);
    }

    .wrapper {
        border-bottom: 1px solid var(--ion-color-light);
    }

    .highlight {
        color: var(--ion-color-primary);
    }

    .preview-img {
        border: 3px solid var(--ion-color-dark);
        border-radius: 10px;
        height: 150px !important;
        width: 100% !important;
        margin-top: 10px !important;
    }

    ion-avatar{
        height: 50px !important;
        width: 50px !important;
    }
}
