ion-tabs{
    --background: var(--ion-color-dark);

    ion-tab-bar{
        --background: var(--ion-color-dark);
    }
    ion-label{
        font-weight: 600;
        color: var(--ion-color-light);
    }

    img{
        margin-top: 5px;
        border-radius: 18px;
    }

    #medical{
        --ionicon-stroke-width: 40px;
        border-radius: 100%;
        --background: rgb(16, 186, 16);
        background: rgb(16, 186, 16);;
    }
}
