ion-header{
    ion-toolbar{
        padding-top: 5%;
    }
    ion-toggle {
        --background-checked: var(--ion-color-blue);
        --background: var(--ion-color-blue);
        --handle-background: var(--ion-color-dark);
    }
}

ion-content{
    .spinner{
        display: block;
        text-align: center;
        margin-top: 50%;
        height: -webkit-fill-available;

        ion-spinner{
            height: 50px;
            width: 50px;
        }
    }

    .body{
        background: var(--ion-color-dark);
    }

    .tweet-info {
        font-size: 0.9em;
    }

    .name {
        font-weight: 600;
    }

    .handle {
        padding-left: 4px;
        color: var(--ion-color-tertiary);
    }

    .wrapper {
        border-bottom: 0.2px solid #ffffff33;
    }

    .highlight {
        color: var(--ion-color-primary);
    }

    .preview-img {
        border: 3px solid var(--ion-color-dark);
        border-radius: 10px;
        height: unset;
        width: 100% !important;
        margin-top: 10px !important;
    }

    #noResult{
        margin-top: 45% !important;
        width: 90%;
        margin: auto;
        margin-bottom: 20px !important;
    }

    ion-avatar {
        height: 50px !important;
        width: 50px !important;
    }
}