ion-content{
    h2{
        font-size: large;
        font-weight: 600;
    }
    .tweets{
        background: var(--ion-color-dark);
    }
    .tweet-info {
        font-size: 0.9em;
        color: var(--ion-color-light);
    }

    .tweetText{
        color: var(--ion-color-light);
    }

    .name {
        font-weight: 600;
        color: var(--ion-color-light);
    }

    .handle {
        padding-left: 4px;
        color: var(--ion-color-tertiary);
    }

    .wrapper {
        border-bottom: 0.2px solid var(--ion-color-light);
    }

    .highlight {
        color: var(--ion-color-primary);
    }

    .preview-img {
        border-radius: 10px;
        height: unset;
        width: 100% !important;
        margin-top: 10px !important;

        img{
            border-radius: 10px;
        }
    }

    ion-avatar {
        height: 50px !important;
        width: 50px !important;
    }

    .hyperlink {
        height: -webkit-fill-available;
        width: 102%;
        margin-left: -1%;
        margin-top: -1%;
        iframe {
            height: -webkit-fill-available;
            width: -webkit-fill-available;
        }
    }

    .loader {
        position: absolute;
        width: 100%;
        height: unset;
        top: 30%;
    }


    ion-card{
        margin: 5px;
        ion-card-title{
            font-size: initial;
            font-weight: 600;
        }
        ion-label{
            font-weight: 600;
            line-height: 30px;
        }
    }

    ion-spinner{
        height: 50px;
        width: 50px;
        z-index: 11;
        position: absolute;
        top: 50%;
        left: 45%;
    }

    .skelton{
        background: var(--ion-color-dark);

        ion-skeleton-text{
            --background-rgb: 192,192,192;
        }
    }

    .noTweet{
        height: fit-content;
        width: 100%;
        margin-top: 30%;
    }
}