<ion-content>
  <div class="header">
    <ion-row>
    <ion-col >
        <ion-title mode=md>Settings</ion-title>
        <ion-card-content>Change Account Setting, Manage Notification and Profile</ion-card-content>
      </ion-col>
    </ion-row>
  </div>

  <div class="body">
    <ion-list >
      <ion-list-header>ACCOUNT</ion-list-header>
      <ion-item lines=none>
        <ion-label slot="start">Mute Notifications</ion-label>
          <ion-toggle (ionChange)='allNotifications($event)' [checked]='notificationSetting.ALL' mode='ios' slot='end'></ion-toggle>
      </ion-item>
      <ion-item disabled (click)="changePassword()" lines=none>
        <ion-label>Change Password</ion-label>
      </ion-item>
      <ion-item-divider ></ion-item-divider>
      <ion-list-header>Other Notification</ion-list-header>
      <!-- <ion-item lines=none>
        <ion-label slot="start">Mute NBA Alerts</ion-label>
          <ion-toggle (ionChange)='nbaAlerts($event)' [checked]="notificationSetting.NBA" mode='ios' slot='end'></ion-toggle>
      </ion-item> -->
      <ion-item lines=none>
        <ion-label slot="start">Mute NFL Alerts</ion-label>
          <ion-toggle (ionChange)='nflAlerts($event)' [checked]="notificationSetting.NFL" mode='ios' slot='end'></ion-toggle>
      </ion-item>
      <!-- <ion-item lines=none>
        <ion-label slot="start">Mute MLB Alerts</ion-label>
          <ion-toggle (ionChange)='mlbAlerts($event)' [checked]="notificationSetting.MLB"  mode='ios' slot='end'></ion-toggle>
      </ion-item>
      <ion-item lines=none>
        <ion-label slot="start">Mute NHL Alerts</ion-label>
          <ion-toggle (ionChange)='nhlAlerts($event)' [checked]="notificationSetting.NHL"  mode='ios' slot='end'></ion-toggle>
      </ion-item> -->
      <ion-item-divider></ion-item-divider>
      <ion-list-header>SUPPORT</ion-list-header>
      <ion-item lines=none href="mailto:thetfdapp@gmail.com">
        <ion-label slot="start">Contact US</ion-label>
        <ion-icon color="primary" slot="end" name="mail"></ion-icon>
      </ion-item>
      <ion-item (click)="openLink('https://twitter.com/messages/compose?recipient_id=1354439841551970305&text=Help,%20I’m%20facing%20an%20issue%20')">
        <ion-label >DM US @TFDtheApp</ion-label>
        <!-- <ion-icon color="primary" slot="end" name="mail"></ion-icon> -->
      </ion-item>
      <ion-item lines=none (click)="openLink('https://thefantasydoctorsapp.com/privacy-policy/')">
        <ion-label slot="start">Privacy Policy</ion-label>
        <ion-icon color="primary" slot="end" name="link"></ion-icon>
      </ion-item>
      <ion-item lines=none (click)="openLink('https://thefantasydoctorsapp.com/')">
        <ion-label slot="start">About US</ion-label>
      </ion-item>
    </ion-list>
    <ion-button disabled mode='ios' (click)="logOut()" display=block color="danger">Log Out</ion-button>
  </div>
</ion-content>
